<%= form_with(model: user, local: true) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
            <div class="panel-heading">
                <h4><%= pluralize(@user.errors.count, "error", plural: "erros impedem") %> <%= t("controllers.users.errors") %>:</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                <% @user.errors.full_messages.each do |msg| %>
                    <li  class="list-group-item"><%= msg %></li>
                <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <% if !@user.new_record? %>
        <%= hidden_field_tag :id, @user.id %>
    <% end %>

    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
    </div>

    <% if @user.new_record? %>
        <div class="form-group">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br/>
        </div>
    <% end -%>

    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <%= f.submit class: "btn btn-warning" %>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
<% end %>