<%= content_for(:title, t("views.app_name") + " | " + "Usuários") %>

<div class="container is-fluid">
  <br>

  <div class="box">
    <h1 class="title">
      Usuários
      <% if user_signed_in? %>
        <%= link_to 'Novo Usuário', new_user_path, class: "button is-primary is-pulled-right" %>
      <% end -%>
    </h1>
  </div>

  <div class="pagination">
    <%= paginate @users%>
  </div>

  <br>

  <table class="table is-striped is-bordered is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Total de vídeos</th>
        <th class="has-text-centered" colspan="3"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user.email %></td>
            <td><%= user.videos_count %></td>
            <td><%= link_to t("views.show"), user, class: "button is-warning" %></td>
            <td><%= link_to t("views.edit"), edit_user_path(user), class: "button is-info" %></td>
            <td>
              <%= link_to t("views.destroy"), user, method: :delete, data: { confirm: t("views.are_you_sure") }, class: "button is-danger" %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="pagination">
    <%= paginate @users%>
  </div>

  <br>

  <div class="box">
    <h1 class="title">
      Usuários
      <% if user_signed_in? %>
        <%= link_to 'Novo Usuário', new_user_path, class: "button is-primary is-pulled-right" %>
      <% end -%>
    </h1>
  </div>
</div>
