<%= content_for(:title, t("views.app_name") + " | " + t("views.users.show")) %>

<div class="container is-fluid">
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= t("views.users.show") %>:</strong>
    </div>
    <div class="box">
      <p>
        <strong><%= t("activerecord.attributes.user.email") %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= t("activerecord.attributes.user.videos") %>:</strong>
        <% @user.videos.each do |uv| %>
          <a href="<%= video_path(uv.id) %>" class="box">
            <%= uv.name %>
            <span class="tag is-success"><%= View.views_by_video(uv.id) %></span>
          </a>
        <% end -%>
      </p>
    </div>
  </div>

  <div class="box">
    <% if can? :update, @user %>
      <%= link_to t("views.edit"), edit_user_path(@user), class: "button is-info" %> |
    <% end -%>
    <%= link_to t("views.back"), users_path, class: "button is-default" %>
  </div>
</div>
